header {
  /* background: #C29A67; */
  position: fixed;
  text-align: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav h1 {
  cursor: pointer;
}

.nav-link {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  font-size: 1.5em;
  margin: 0.5em;
  cursor: pointer;
}

main {
  padding: 132px 1em;
}

.space-filler {
  height: 100vh;
}

.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}

footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
}

.rsvp-btn {
  background: #fff;
  color: #424242;
  font: inherit;
  border: 1px solid #fff;
  font-size: 2.5em;
  padding: 0.5em 2em;
  border-radius: 1em;
  cursor: pointer;
}
.rsvp-btn:hover {
  color: #757575;
}

.bg-opaque header {
  background: #fff;
  color: #424242;
}
.bg-opaque .rsvp-btn {
  border-color: #424242;
}

.venue,
.date {
  color: #fff;
  position: fixed;
  bottom: 0;
}
.date {
  right: 0;
}

/* @keyframes animate-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
} */
