
@font-face {
  font-family: "Tan Aegan";
  src: url(./assets/TAN_AEGEAN_Regular.ttf);
}

@font-face {
  font-family: "Arastin Pro";
  src: url(./assets/Arastin_Pro.ttf);
}

@font-face {
  font-family: "Kulim Park";
  src: url(./assets/KulimPark-Regular.ttf);
}

html {
  background: url(./assets/wedding_bg.png) no-repeat center center fixed; /* fix this later for large screen sizes */
  background-size: cover;
  background-color: #A1A984;
}

body {
  font-family: "Tan Aegan";
  font-size: 12px; /* adjust to 10px, 8px at breakpoints */
  color: #7D5A50;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Arastin Pro";
  font-weight: normal;
  font-size: 4em;
  letter-spacing: 4px;
  padding: 0.25em;
  margin: 0;
}

h2 {
  font-weight: normal;
  font-size: 3em;
  margin: 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  font-size: 2.5em;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

a {
  color: #7D5A50;
  text-decoration: none;
  font-size: 1.5em;
}
a:hover {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* My custom styles */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 264px);
  color: #000;
  text-align: center;
  margin-bottom: 132px;
  text-transform: uppercase;
}

.title h1 {
  font-family: "Tan Aegan";
  font-size: 5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: normal;
  padding: 0;
}

.card {
  font-family: "Kulim Park", Arial, sans-serif;
  color: #424242;
  max-width: 1100px;
  margin: 0 auto 5em;
  padding: 1.5em;
}

.card p,
.card b {
  font-size: 2em;
}

.grow-in {
  visibility: visible !important;
  animation-name: animate-grow;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}

@keyframes animate-grow {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}