---
---

@import "{{ site.theme }}";

a {
  color: inherit;
}

a:hover, a:focus {
  text-decoration: none;
  font-weight: inherit;
}

img {
  max-width: 100%;
  max-height: 500px;
}

img.thumbnail {
  width: 200px;
  height: 200px;
}
