.qna-container {
  display: flex;
  flex-wrap: wrap;
}

.questions {
  flex: 1;
  padding-right: 2em;
}

.question {
  display: block;
  font-family: inherit;
  font-weight: bold;
  font-size: 2em;
  padding: 1em 0;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
}

.question.selected {
  text-decoration: underline;
}

.answer-box {
  border-left: 1px solid #424242;
  padding: 2em;
}
.answer-box.large {
  display: none;
}
.answer-box p {
  color: #212121;
  font-size: 2em;
  margin: 0;
}
.answer-box p a {
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  .question {
    text-align: right;
    margin-left: auto;
  }
  .answer-box.small {
    display: none;
  }
  .answer-box.large {
    display: block;
  }
  .answer-box {
    flex: 1;
  }
}