
.travel-section {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
}

.travel-card {
  flex: 1;
  padding: 2em 3em;
  max-width: 24em;
  min-width: 20em;
  visibility: hidden;
}

.travel-card.card-1,
.travel-card.card-3,
.travel-card.card-4 {
  border-bottom: 1px solid #424242;
}

.travel-card p,
.travel-card a {
  text-align: left;
  font-size: 2em;
  margin: 0;
}

.travel-card p a {
  font-size: 1em;
}

.travel-card.card-1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.travel-card.card-2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.travel-card.card-3 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.travel-card.card-4 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.travel-card.card-5 {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}

.section-spacer {
  margin-top: 3em;
}

.clue-link {
  display: inline-block;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 702px) {
  .travel-card.card-1,
  .travel-card.card-3,
  .travel-card.card-4 {
    border-right: 1px solid #424242;
    border-bottom: none;
  }
}