@keyframes slide-up {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.home {
  text-align: center;
  background: #f6f5f5;
  padding: 2em;
}

.intro h1 {
  color: #6e9fc6;
}

.intro p {
  color: #2766b9;
  text-align: left;
  line-height: 2.2;
  padding: 2em 0;
}

.intro a {
  color: #5e97d2;
}

.home h2 {
  color: #6e9fc6;
  overflow: hidden;
  text-align: center;
}

.home h2:before,
.home h2:after {
  /* background-color: #aeaaad; */
  background-color: #5e97d2;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.home h2:before {
  right: 0.5em;
  margin-left: -50%;
}

.home h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.project {
  background: #6e9fc6;
  height: 200px;
  width: 250px;
  position: relative;
  overflow: hidden;
}

.project img {
  height: 100%;
  width: 100%;
}

.project a {
  text-decoration: none;
}

.project:hover .project-desc {
  transform: translateY(0);
}

.project-desc {
  background: rgba(36, 40, 43, 0.85);
  height: 100%;
  width: 100%;
  padding: 1em;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: 0.4s ease;
}

.project-desc h3,
.project-desc p {
  color: #f6f5f5;
  text-align: left;
}

.project-desc h3 {
  border-bottom: 1px dashed #f6f5f5;
  letter-spacing: 0.1em;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
  font-size: 1.35em;
}

.project-desc p {
  font-family: "Merriweather", serif;
  font-size: 0.75em;
}
