.app-footer {
  height: 100px;
  background: #2766b9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-footer a {
  padding: 0.5em;
  margin: 1em;
  color: #f6f5f5;
  text-decoration: none;
  font-size: 0.9em;
}

.app-footer a:hover {
  transform: translateY(-2px);
  transition: 0.2s ease;
}
