---
layout: default
---
<div class="row">
  <div class="col-sm-6">
    <h1><a href="https://cacm.acm.org/">Communications of the ACM</a></h1>
    <ul>
      <li>Online publication containing blog posts and news articles</li>
      <li>Covers all aspects of computing and information technology</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h1><a href="https://rjlipton.wordpress.com/">Gödel’s Lost Letter and P=NP</a></h1>
    <ul>
      <li>Blog devoted to the theory of computing, specifically the question of P = NP</li>
      <li>Entries are technical but accessible to a lay audience</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h1><a href="https://blog.computationalcomplexity.org/">Computational Complexity</a></h1>
    <ul>
      <li>Technical blog focusing on the intersection of math and computer science</li>
      <li>Discusses events and personalities in the field of computational complexity</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h1><a href="http://matt.might.net/articles/">Matt Might</a></h1>
    <ul>
      <li>Personal blog linking articles across all fields of programming</li>
      <li>Provides advice and insight for students and aspiring professors</li>
    </ul>
  </div>
</div>

{{ content }}
