---
layout: default
---
<div class="row">
  <div class="col-sm-6">
    <h1><a href="dejaphoto">Deja Photo</a></h1>
    <img class="thumbnail" src="/assets/images/thumbnail_dejaphoto.png" alt="Deja Photo Thumbnail">
    <ul>
      <li>Android application developed in a team of 6 for Software Engineering at UCSD</li>
      <li>Changes phone wallpaper according to current location, "karma", and more</li>
      <li>Uses a friends list for users to share photos with each other and give karma</li>
      <li>Photos stored in a Firebase database, with an account system for individual data</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h1><a href="platformingai">Platforming AI</a></h1>
    <img class="thumbnail" src="/assets/images/thumbnail_platformingai.PNG" alt="Platforming AI Thumbnail">
    <ul>
      <li>Created a simple platforming game in Python that is played by an AI bot</li>
      <li>Bot learns through neuroevolution</li>
      <li>Based on <a href="http://nn.cs.utexas.edu/downloads/papers/stanley.ec02.pdf"><u>Evolving Neural Networks
        through Augmenting Topologies</u></a> by Kenneth O. Stanley and Risto Miikkulainen</li>
      <li>Work in progress</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h1><a href="cvmaze">CV Maze Game</a></h1>
    <img class="thumbnail" src="/assets/images/thumbnail_cvmaze.PNG" alt="CV Maze Thumbnail">
    <ul>
      <li>Simple maze game where the player controls their character with their hand</li>
      <li>Computer vision is used to track the hand's position through a webcam</li>
      <li>Written in Java and Python</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h1><a href="chess">Chess</a></h1>
    <img class="thumbnail" src="/assets/images/thumbnail_chess.PNG" alt="Chess Thumbnail">
    <ul>
      <li>Fully playable chess game written in Java</li>
      <li>Also has a simple AI for single player play</li>
      <li>Developed as a fun project in high school while learning how to code</li>
    </ul>
  </div>
</div>
