body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #2766b9;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.app {
  text-align: center;
}

.app-header {
  height: 350px;
  width: 100%;
  color: #f6f5f5;
}

.app-header:before,
.app-header:after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: -1;
}

.app-header:before {
  background: #2766b9 url("assets/images/geisel.jpg") no-repeat center
    center/cover;
  position: fixed;
}

.app-header:after {
  background: #2766b9;
  opacity: 0.5;
  position: absolute;
}

.header-top {
  height: 60%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  animation: slide-up 1s ease-out;
  border: 3px solid #f6f5f5;
  width: fit-content;
  padding: 40px;
  margin-bottom: 0;
  align-self: flex-end;
}

.app-footer {
  height: 100px;
  background: #2766b9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-footer a {
  padding: 0.5em;
  margin: 1em;
  color: #f6f5f5;
  text-decoration: none;
  font-size: 0.9em;
}

.app-footer a:hover {
  transform: translateY(-2px);
  transition: 0.2s ease;
}

.not-found h1 {
  color: #f6f5f5;
  font-size: 5em;
  padding: 1.5em;
}

/* Styles for write-up components */
.container {
  max-width: 1000px;
  text-align: center;
}

.writeup {
  background: #f6f5f5;
}

.writeup h1,
.writeup h2 {
  color: #6e9fc6;
}

.writeup p {
  color: #2766b9;
}

.writeup a {
  color: #5e97d2;
}
